<div class="col-md-12">
  <div class="card card-chart">
    <div class="card-header card-header-danger" id="card-header">
      <!-- Adicione botões de navegação -->
      <div class="ct-chart-container">
        <!-- Gráfico -->
        <div class="ct-chart" id="gastoImprevistos"></div>
      </div>

      <div class="chart-icons style-icon-load-edit">
        <i class="material-icons edit-icon" (click)="prevPage()"> navigate_before </i>
        <i class="material-icons reload-icon" (click)="nextPage()"> navigate_next </i>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ title }}</h4>
      <p class="card-category"></p>
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">{{ icon }}</i> {{ desc }}
      </div>
    </div>
  </div>
</div>


