<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cloud</i>
                        </div>
                        <p class="card-category">Chuveiros ligados</p>
                        <h3 class="card-title">20/99
                            <small>Total</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons"> ac_unit </i>
                        </div>
                        <p class="card-category">Temperatura em tempo dos chuveiros</p>
                        <h3 class="card-title">38 ºC</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Controle de temperatura
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">       
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="consumoMensal"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Consumo mensal</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> valores por semana
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="col-md-4">
  
            </div>
        </div>
    </div>
  </div>
  