<!-- login_page_v2/templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Dashboard</h2>
        <p>Bem-vindo, {{ session["username"] }}!</p>
        <button onclick="window.location='{{ url_for('logout') }}'">Logout</button>
    </div>
</body>
</html>
