<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-cards [dataCenterInfo]="paramDataCenter"></app-cards>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-graphic [param]="paramNormalDays" ></app-graphic>
            </div>
            <div class="col-md-6">
                <app-graphic [param]="paramTemperatureIncidents" ></app-graphic>
            </div>
        </div>
    </div>
</div>
