<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-cards [dataCenterInfo]="paramDataCenter"></app-cards>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-graphic-success [param]="paramGraphicDiario"> </app-graphic-success>
            </div>

            <div class="col-md-6">
               <app-graphic-danger [param]="paramGastosImprevistos"> </app-graphic-danger>
            </div>

        </div>
    </div>
</div>
